PORT=3000
NODE_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_NAME=alpha_db
DB_USER=alpha_user
DB_PASSWORD=
SESSION_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
CONTACT_RECEIVER_EMAIL=

PAYMENT_MODE=sandbox
TELEBIRR_MERCHANT_ID=
TELEBIRR_APP_ID=
TELEBIRR_APP_SECRET=
TELEBIRR_BASE_URL=
CBE_MERCHANT_ID=
CBE_API_KEY=
CBE_BASE_URL=