<div id="admin-toolbar">
  <a href="/admin/dashboard" id="dashboardLink">Dashboard</a>
  <button id="toggleEditMode" type="button">Edit Mode: OFF</button>
  <button id="saveChangesBtn" type="button" disabled>Save Changes</button>
  <button id="undoBtn" type="button">Undo</button>
  <button id="resetBtn" type="button">Reset to Default</button>
  <span id="adminSaveStatus"></span>
</div>